* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table,
tr,
td,
th {
  border: 3px solid grey;
  border-collapse: collapse;
}
tr {
  height: 40px;
  text-align: center;
  padding: 8px;
}
tr > td:first-of-type {
  text-align: left;
}
tbody tr:first-of-type td {
  font-weight: bold;
  font-size: 20px;
  padding: 16px;
}
th {
  padding: 26px;
  font-size: 26px;
  background-color: #d6d6d6;
}

tr:nth-of-type(even) {
  background-color: #d6d6d6;
}
